<div id = "homePageDiv" style="background-color:gray; top:40x; bottom:20px; height:50%;">
<h2 style="color:white;"> Welcome to the soon to be Information API for BuddiUp</h2>
<br/>
<h3 style="color:white;"> To check out your individual chatroom, grab data from route: local:3000/totalmessages/:ChatroomID/messages</h3>
<br/>
<h3 style="color:white;"> To simply see how many messages have been sent from all rooms: local:3000/totalmessages</h3>
<br/>
<h3 style="color:white;"> To try the auto complete search bar: local:3000/users/searchBar</h3>
<br/>
<h3 style="color:white;"> To Meet the delete and put requirement, you are now able to delete your account or change username. Simply go to local:3000/users or local:3000/totalmessages</h3>
</div>


<script>
</script>
